/*body {
	background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQFwzztqvpBNPdeB3chQoDxFvEE6XsjoEUq-rE0tk-tbzo_xwQ7") repeat;
	background-size: cover;
}*/

.page-header img {
	margin-top: 0;
	width: 100%;
	opacity: 0.5;
	height: 395px;
	position: absolute;
	z-index: -1;
}

.page-header h1 {
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
}

.page-header h1 small {
	font-weight: bold;
	text-shadow: 2px 2px #00ff33;
}

/*.navbar li a {
	font-color: #00ff33;
} */

.blurb {
	border: 2px solid black;
	margin-bottom: 40px;
	background-color: white;
}

.row {
	background-color: white;
}

.row img {
	width: 100%;
}

.col {
	background-color: white;
}

#footer {
	font-style: italic;
	font-size: 12px;
    position : fixed;
    bottom : 0;
    margin-top : 40px;
}